<div class="login-wrapper">
  <mat-card class="login-card">
    <h1 class="title">Secure Bank Login</h1>

  <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
   <!-- Username-->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
        <input matInput formControlName="username" autocomplete="username" />
        <mat-error *ngIf="form.controls['username'].touched && form.controls['username'].invalid">
          Username is required
        </mat-error>
  </mat-form-field>
   
     <!-- Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          autocomplete="current-password"
        />
        <mat-error *ngIf="form.controls['password'].touched && form.controls['password'].invalid">
          Password is required
        </mat-error>
      </mat-form-field>

      <!-- Login button -->
      <button
        mat-raised-button
        color="primary"
        class="login-btn"
        type="submit"
        [disabled]="isLoading || form.invalid"
      >
        <ng-container *ngIf="!isLoading">Login</ng-container>
        <ng-container *ngIf="isLoading">
          <mat-spinner diameter="20"></mat-spinner>
        </ng-container>
      </button>

      <!-- Error -->
      <p *ngIf="error" class="error-msg">{{ error }}</p>
    </form>
  </mat-card>
</div>
